/*//////////BASE STYLES//////////*/

* {
  box-sizing: border-box;
  margin: 0 auto;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .9)),
               url('../img/IMG_3021.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
  text-align: center;
  margin: 0;
  height: calc(100%);
}

body {
  font-family: 'Arvo', serif;
  margin: 0 auto;
  text-align: center;
}

.row {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

/*//////////LOGO NAV//////////*/
.logo-nav {
  width: 80px;
  /*height: 24px;*/
  display: block;
  float: left;
  margin: 20px 0;
  background: url('../logos/CFLogoLongAlt_white.png') left center no-repeat;
  background-size: 80px 16px;
}
.description {
  line-height: 60px;
  width: 100%;
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  display: block;
}

/*//////////NAVIGATION//////////*/
nav {
  float: right;
  font-size: 1.25em;
  font-weight: bold;
}
nav a {
  transition: .35s linear;
  padding: 0 10px;
  font-weight: 500;
  line-height: 60px;
  color: white;
  text-align: right;
}
nav a:last-child {
  padding-right: 0;
}
nav a:hover {
  color: #e0d58b;
}
nav a.active {
  color: #e0d58b;
}

/*//////////GRIDS//////////*/
.grid-full {
  width: 100%;
  float: left;
}
.grid-half {
  width: 50%;
  float: left;
}
.grid-third {
  width: 27.33333%;
  margin: 0 3%;
  float: left;
}
.grid-fourth {
  width: 25%;
  float: left;
}
.grid-fifth {
  width: 20%;
  float: left;
}

a {
  color: #e0d58b;
}

a:hover {
  color: red;
}

.container {
  width: 90%;
}

.flex-container {
  padding-top: 150px;
  border: none;
  border-radius: 10px;
}

.logo {
  max-width: 500px;
  width: 100%;
  padding-bottom: 75px;
}

.message {
  font-size: 1.5em;
}

input[type=text] {
    /*width: 100%;*/
    box-sizing: border-box;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.4;
    font-size: 1.3em;
    border: 1px solid rgba(255, 255, 255, 0.49);
    padding-left: 5px;
}

input[type=text]:focus {
  color: black;
  background-color: white;
  border: none;
  border-bottom: 4px solid #af9c4c;
  opacity: 1;
}

input[type=submit] {
  background-color: #af9c4c;
      border: none;
      color: white;
      font-size: 1em;
      padding: 5px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
}

input[type=submit]:hover {
  background-color: #877839;
}

.form {
  padding-top: 100px;
}

.bgmusic {
  display: none;
  padding-top: 100px;
}

footer {
  padding-top: 100px;
  margin: 0 auto;
  width: 100%;
}

li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
}

.icons {
  width: 35px;
  margin: 10px;
}

.icons:hover {
  color: #e0d58b;
}
